<div class="productos-container">
  <div class="header">
    <h1>Nuestros Productos de Heno</h1>
    <p>Calidad premium para tus animales</p>
  </div>
  <div class="search-and-create-container">
    <div class="search-box">
      <span class="search-icon">🔍</span>
      <input type="text" placeholder="Buscar heno por nombre..." #searchInput
        (keyup.enter)="buscarHenosPorNombre(searchInput.value)" (input)="0">
      <button *ngIf="searchInput.value" class="btn-limpiar" (click)="searchInput.value=''; buscarHenosPorNombre('')"
        title="Limpiar búsqueda">
        ✕
      </button>
      <button class="btn-buscar" (click)="buscarHenosPorNombre(searchInput.value)">
        Buscar
      </button>
    </div>
    <button class="btn-crear" (click)="linkcrear()">Crear Producto</button>
  </div>

  <div class="filtros-container">
    <button class="filtro-btn" (click)="cargarHenos()">
      <div class="filtro-img-placeholder">🌾</div>
      <span>Todos</span>
    </button>
    <button class="filtro-btn" (click)="filtrarHenos('Bovinos')">
      <img src="assets/Imagenes/vaca.png" alt="Vacas" class="filtro-img">
      <span>Bovinos</span>
    </button>
    <button class="filtro-btn" (click)="filtrarHenos('Ovinos')">
      <img src="assets/Imagenes/oveja.png" alt="Ovejas" class="filtro-img">
      <span>Ovinos</span>
    </button>
    <button class="filtro-btn" (click)="filtrarHenos('Equinos')">
      <img src="assets/Imagenes/caballo.png" alt="Caballo" class="filtro-img">
      <span>Equinos</span>
    </button>
  </div>

  <div *ngIf="henos.length > 0" class="grid-productos">
    <div class="producto-card" *ngFor="let heno of henos" (click)="detallePorId(heno.idHeno)">
      <div class="card-imagen">
        <img *ngIf="heno.imagen" [src]="heno.imagen" [alt]="heno.nombre">
        <div *ngIf="!heno.imagen" class="placeholder-imagen">
          <span>🌿</span>
        </div>
      </div>
      <div class="card-content">
        <h2>{{ heno.nombre }}</h2>
        <p class="descripcion">{{ heno.descripcionCorta }}</p>

        <div class="detalles">
          <div class="precio">
            <span class="label">Precio Unitario</span>
            <span class="valor">${{ heno.precioU }}</span>
          </div>
          <div class="stock">
            <span class="label">Stock Disp.</span>
            <span class="valor">{{ heno.stock }} und </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>